<footer>

  <td>
    <%= current_year %>
  </td>

  <td>
    <%= '-Alexandr' %>
  </td>

  <td>
    <%= link_to_github %>
  </td>

  <td>
    <%= '-School program tests' %>
  </td>

  <td>
    <a href="http://thinknetica.com/">-Учебный проект в онлайн-школе Thinknetica</a>
  </td>

</footer>
