<footer class="footer text-center text-muted mt-5 ">
  <small>
    <%= current_year %>
    <%= '-Alexandr' %>
    <%= link_to_github %>
    <%= '-School program tests' %>
    <a href="http://thinknetica.com/">-Учебный проект в онлайн-школе Thinknetica</a>
    </small>
</footer>
